body {
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgContainer {
  width: 100%;
  height: 20%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  width: 77%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: larger;
  text-shadow:  rgba(255, 105, 135, .3);
}

/*text animation styles */
.heading {
  font-size: 300vh;
}

.dataText {
  font-size: xx-large;
  
}



.heading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0 , 0, .4);
}

.warning{
  height: 40px;
  width: 250px;
  position: absolute;
  right: 0;
  top: 10%;
  background-color: rgb(210, 91, 91);
  font-size: 1.1rem;
  color: white;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
}  

.cart_box img{
  width: 50px;
  height: 50px;
}
.cart_img{
  display: flex;
  width: 400px;
}
.cart_img p {
  font-weight: bold;
  margin-left: 10px;
}
.cart_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid skyblue;
  padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}
.cart_box div:nth-child(3) button{
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border:none;
  outline: none;
  color: #ffffff;
  background-color: #87ceeb;
  border-radius: 5px;
  cursor: pointer;
}
.cart_box div:nth-child(3) button:hover{
  background-color: darkseagreen;
}
.cart_box div:nth-child(3) span{
  background-color: lightgreen;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total span:nth-child(1){
  font-size: 2rem;
  color: skyblue;
  font-weight: bold;
  letter-spacing: 2px;
}
.total span:nth-child(2){
  font-size: 2rem;
  color: green;
  font-weight: bold;
}
      